.status-indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: 4px;
}

.status-running {
    background-color: green;
    animation: fadePulse 1.5s infinite ease-in-out;
}

.status-stopped {
    background-color: red;
}

.status-disconnected {
    background-color: grey;
    opacity: 0.3;
}

.status-changeover {
    background-color: orange;
}

@keyframes fadePulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.flash-change {
    transition: background-color 0.4s ease;
    background-color: #d1ffd1; /* light green */
}

#heatmap-machine-grid {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    max-width: 100%;
}

.heatmap-machine-row {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.heatmap-line-label {
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    text-align: left;
    margin-right: 8px;
}

.heatmap-machine-box {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: green; /* Base background color */
    border: .5px solid #1f23280d; /* Border around each cell */
    border-radius: 4px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.heatmap-tooltip {
    position: absolute;
    padding: 6px 10px;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 999;
    white-space: pre-line;
}