<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <h1>Live Camera Factory</h1>
            <div style="position: relative; width: auto;">
                <div id="factory-container" style="position: relative; width: auto; height: auto;">
                    <img id="factory-layout" src="/img/photos/factory.png" style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
    <!-- Fullscreen Bootstrap Modal -->
    <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Camera Stream</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <canvas id='canvas-camera'></canvas> <!-- Camera Stream Canvas -->
                </div>
            </div>
        </div>
    </div>
</main>
<script>
var cameras = {
    '1.1.': {
        position: [14.32, 10.99],
        ip: "192.168.10.226"
    },
    '1.2.': {
        position: [10.40, 13.28],
        ip: "192.168.10.218"
    },
    '12.2': {
        position:[33.78, 12.19],
        ip: "192.168.10.222"
    },
    '12.1': {
        position: [37.81, 12.19],
        ip: "192.168.10.219"
    },
    '11.2': {
        position: [59.84, 11.43],
        ip: "192.168.10.214"
    },
    '11.1': {
        position: [63.53, 13.82],
        ip: "192.168.10.203"
    },
    '2.1': {
        position: [14.43, 15.23],
        ip: "192.168.10.182"
    },
    '1.4': {
        position: [29.64, 14.36],
        ip: "192.168.10.118"
    },
    '1.3': {
        position: [40.04, 14.47],
        ip: "192.168.10.121"
    },
    '1.2': {
        position: [48.10, 12.30],
        ip: "192.168.10.181"
    },
    '1.1': {
        position: [50.11, 14.58],
        ip: "192.168.10.183"
    }

};
$(document).ready(function () {
    loadCameras(cameras);
});
</script>
<script src="/js/rtsp-relay.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/camera.js"></script>