<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <h1>Live Camera Workshop 2</h1>
            <div style="position: relative; width: auto;">
                <div id="factory-container" style="position: relative; width: auto; height: auto;">
                    <img id="factory-layout" src="/img/photos/ws2.png" style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
    <!-- Fullscreen Bootstrap Modal -->
    <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Camera Stream</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <canvas id='canvas-camera'></canvas> <!-- Camera Stream Canvas -->
                </div>
            </div>
        </div>
    </div>
</main>
<script>
var cameras = {
    '3.4': {
        position: [24.26, 27.97],
        ip: "192.168.10.163"
    },
    '3.5': {
        position: [78.69, 28.18],
        ip: "192.168.10.140"
    },
    '3.6': {
        position: [78.85, 44.50],
        ip: "192.168.10.143"
    },
    '5.2': {
        position: [79.16, 66.05],
        ip: "192.168.10.153"
    },
    '5.3': {
        position: [78.07, 88.14],
        ip: "192.168.10.157"
    },
    '4.5': {
        position: [31.42, 90.10],
        ip: "192.168.10.148"
    },
    '4.8': {
        position: [23.79, 90.97],
        ip: "192.168.10.124"
    },
    '4.6': {
        position: [24.88, 72.14],
        ip: "192.168.10.162"
    },
    '4.7': {
        position: [24.26, 45.16],
        ip: "192.168.10.158"
    },
    '3.1': {
        position: [22.40, 21.98],
        ip: "192.168.10.152"
    },
    '3.2': {
        position: [29.39, 22.20],
        ip: "192.168.10.146"
    },
    '3.3': {
        position: [86.16, 26.55],
        ip: "192.168.10.139"
    },
    '5.1': {
        position: [86.00, 91.19],
        ip: "192.168.10.147"
    },
    '4.4': {
        position: [16.49, 91.62],
        ip: "192.168.10.141"
    },
    '4.3': {
        position: [16.95, 77.91],
        ip: "192.168.10.150"
    },
    '4.2': {
        position: [17.42, 53.54],
        ip: "192.168.10.154"
    },
    '4.1': {
        position: [16.80, 36.24],
        ip: "192.168.10.144"
    }
};
$(document).ready(function () {
    loadCameras(cameras);
});
</script>
<script src="/js/rtsp-relay.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/camera.js"></script>