<main class="content">
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div style="position: relative; width: 750px;">
                <h5>Factory 1</h5>
                <div id="factory-container" style="position: relative; width: 100%; height: auto;">
                    <img id="factory-layout" src="/img/photos/ws1.png" style="width: 100%; height: auto;">

                    <div class="sensor" style="top: 15%; left: 20%;" data-id="SENSOR_002"></div>
                    <div class="sensor" style="top: 15%; left: 60%;" data-id="SENSOR_003"></div>
                    <div class="sensor" style="top: 45%; left: 20%;" data-id="SENSOR_004"></div>
                    <div class="sensor" style="top: 45%; left: 60%;" data-id="SENSOR_005"></div>
                    <div class="sensor" style="top: 85%; left: 20%;" data-id="SENSOR_006"></div>

                    <!-- Sensor Info Box -->
                    <div class="sensor-info" id="sensor-info1"
                        style="position: absolute; display: none; background: white; padding: 10px; border: 1px solid black; z-index: 10;">
                        <p><strong>Temperature:</strong> <span id="temp"></span>°C</p>
                        <p><strong>Humidity:</strong> <span id="humidity"></span>%</p>
                    </div>
                </div>
            </div>
            <div style="position: relative; width: 750px;">
                <h5>Factory 2</h5>
                <div id="factory-container" style="position: relative; width: 100%; height: auto;">
                    <img id="factory-layout" src="/img/photos/ws2.png" style="width: 100%; height: auto;">

                    <div class="sensor" style="top: 50%; left: 50%;" data-id="SENSOR_001"></div>

                    <!-- Sensor Info Box -->
                    <div class="sensor-info" id="sensor-info2"
                        style="position: absolute; display: none; background: white; padding: 10px; border: 1px solid black; z-index: 10;">
                        <p><strong>Temperature:</strong> <span id="temp"></span>°C</p>
                        <p><strong>Humidity:</strong> <span id="humidity"></span>%</p>
                    </div>
                </div>
            </div>
            <div style="position: relative; width: 750px;">
                <h5>Factory 3</h5>
                <div id="factory-container" style="position: relative; width: 100%; height: auto;">
                    <img id="factory-layout" src="/img/photos/ws3.png" style="width: 100%; height: auto;">

                    <!-- Sensor Info Box -->
                    <div class="sensor-info" id="sensor-info3"
                        style="position: absolute; display: none; background: white; padding: 10px; border: 1px solid black; z-index: 10;">
                        <p><strong>Temperature:</strong> <span id="temp"></span>°C</p>
                        <p><strong>Humidity:</strong> <span id="humidity"></span>%</p>
                    </div>
                </div>
            </div>
            <div style="position: relative; width: 750px;">
                <h5>Factory 4</h5>
                <div id="factory-container" style="position: relative; width: 100%; height: auto;">
                    <img id="factory-layout" src="/img/photos/ws4.png" style="width: 100%; height: auto;">

                    <!-- Sensor Info Box -->
                    <div class="sensor-info" id="sensor-info4"
                        style="position: absolute; display: none; background: white; padding: 10px; border: 1px solid black; z-index: 10;">
                        <p><strong>Temperature:</strong> <span id="temp"></span>°C</p>
                        <p><strong>Humidity:</strong> <span id="humidity"></span>%</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<script>
    $(document).ready(function () {
        loadDataSensorsToday();

        $(".sensor").hover(
            function () {
                $(this).addClass("hover-effect");
            },
            function () {
                $(this).removeClass("hover-effect");
            }
        );

        {{!--$(".sensor").click(function (e) {
                    let sensorId = $(this).data("id");
                    let sensorOffset = $(this).position();

                    // Remove highlight from all sensors
                    $(".sensor").removeClass("active");

                    // Highlight the clicked sensor
                    $(this).addClass("active");

                    // Fetch sensor data from API
                    $.get(`/sensors/sensor-data/${sensorId}`, function (data) {
                        $("#temp").text(data.temperature);
                        $("#humidity").text(data.humidity);

                        console.log("=========== data   ", data, { top: e.pageY + 10, left: e.pageX + 10 });
                        // Show info box near the sensor
                        let index = sensors.findIndex(value => 'sensor' + value.toString() == sensorId);
                        $("#sensor-info" + (index + 1).toString()).css({
                            top: sensorOffset.top + 20,  // Adjust positioning
                            left: sensorOffset.left + 20,
                            opacity: 1,
                            display: "block"
                        });

                        loadDataSensor(data);
                    });
                }); --}}

        function loadDataSensorsToday() {
            let time = new Date().toISOString().split('T')[0]; // get data today
            console.log("loadDataSensorsToday", time);
            $.get({
                url: `/sensors/api/sensor-last-data`,
                data: { time },
                dataType: "json",
                success: function (response) {
                    let sensors = response.sensors;
                    if (sensors && sensors.length > 0) {
                        sensors.forEach(sensor => {
                            loadDataSensor(sensor);
                        });
                    }
                }
            });
        }

        function loadDataSensor(data) {
            let sensorElement = $(`.sensor[data-id='${data.sensor_id}']`);

            if (sensorElement.length) {
                // Remove previous tooltip if exists
                sensorElement.next(".sensor-tooltip").remove();

                // Add new tooltip
                let tooltip = $(`
                <div class="sensor-tooltip">
                <div class="row text-left">
                    <div class="col-6">${data.sensor_id}</div>
                    <div class="col-6">${data.time}</div>
                </div>
                <div class="row text-left">
                    <div class="col-6">🌡 ${data.temperature} °C</div>
                    <div class="col-6">💧 ${data.humidity} %</div>
                </div>
                <div class="row text-left">
                    <div class="col-6">🔊 ${data.sound} dB</div>
                    <div class="col-6">💡 ${data.light} Lux</div>
                </div>
                            </div>
                            `);
                tooltip.css({
                    top: sensorElement.position().top - 70,
                    left: sensorElement.position().left - 80,
                    display: "block",
                });

                sensorElement.after(tooltip);

                // Remove previous status
                sensorElement.removeClass("warning critical");

                // Change background based on temperature
                if (data.temperature > 40) {
                    sensorElement.addClass("critical"); // Blinking red for critical temp
                } else if (data.temperature > 35) {
                    sensorElement.addClass("warning"); // Orange for high temp
                }
            }
        }

        // Hide info when clicking outside
        $(document).click(function (e) {
            if (!$(e.target).closest(".sensor, .sensor-info").length) {
                $("#sensor-info1").css("opacity", 0);
                $("#sensor-info2").css("opacity", 0);
                $("#sensor-info3").css("opacity", 0);
                $("#sensor-info4").css("opacity", 0);
                setTimeout(() => $("#sensor-info1").hide(), 300);
                setTimeout(() => $("#sensor-info2").hide(), 300);
                setTimeout(() => $("#sensor-info3").hide(), 300);
                setTimeout(() => $("#sensor-info4").hide(), 300);
            }
        });


    });
</script>